@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .radio-btn {
    @apply bg-very-dark-cyan text-white hover:bg-strong-cyan cursor-pointer rounded w-full text-center h-12 flex items-center justify-center;

    input {
      @apply appearance-none;
    }

    label {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .custom-text-input {
    @apply absolute h-full w-full text-very-dark-cyan bg-very-light-grayish-cyan text-right pr-2;
  }

  .checked {
    @apply bg-strong-cyan;
  }
}
